/* Main colors
blue: #4876B1
orange: #E27F27
green: #5C9A2E
 */

 
.reveal .slides > section, .reveal .slides > section > section {
  padding: 0 !important;
}

.reveal.overview .slides section.present {
  outline: 10px solid #E27F27;
}

.reveal .slides > section {
  bottom: 0px;
}

.reveal section img { background:none; border:none; box-shadow:none; }

.watermark{
  position: absolute;
  bottom: 10px;
  right: 100px;
}
.content{
  float: left;
  /*background: #ffffff;*/
  color:#000;
  width:100%;
  height:100%;
   margin-top:100px; 
}
.content-heading{
  margin-top:20px;
  margin-bottom:30px;
  color:#464545;
}

.outline-active{
  color:#fff; 
  font-size: 42px;
  margin-bottom:20px;
}
.arrow-right {
  width: 0; 
  height: 0;
  margin-left:-30px; 
  margin-top:-50px; 
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #ffffff;
}
.references{
  font-size:16px;
  text-align: left;
  padding:10px 20px;
  position: absolute;
   /*display: table;*/
   width: 100%;
   bottom: 10px;
   left:100px;
}

/*--------VIZ-------*/
.viz{
  width:80%;
  margin: 0 auto;
}
.cards{
  width:80%;
  height:600px;
  margin: 0 auto;
  font-size: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  margin-top: 30px;
}

.subtitle{
  color:#4876B1;
}
.celltext{
  font-size: 24px;
}

.final .content-heading{
    width:80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.fineal-slide{
    width:80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}
.summary{
  border: 1px solid #ccc;
}
.outlook{
  border: 1px solid #ccc;
}
.outlook, .summary ul> li{
  font-size: 24px;
}
.people{
  border: 1px solid #ccc;
  grid-column: 1 / 3;
  height:300px;
}
.insti{
/*    width:100%;
    margin: 0 auto;*/
    font-size:20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.fleur,.spex{
  height:300px;
}
/*Fragment animations*/

/*.highlight-bg{
  background: red;
}*/
.defect{
  width:80%;
  margin: 0 auto;
}
.reveal .slides section .fragment.highlight-bg{
  opacity: 1;
  visibility: inherit; }


.reveal .slides section .fragment.highlight-bg.visible {
  background: #c9d7e9; }

.img-appear{
  display: none;
}

.reveal .slides section .fragment.appear-content{
  opacity: 1;
  visibility: inherit; }


.reveal .slides section .fragment.appear-content.visible {
  display: inline;}